/* app css stylesheet */

@font-face {
    font-family: 'bravorgregular';
    src: url('font/bravorg.eot');
    src: url('font/bravorg.eot?#iefix') format('embedded-opentype'),
         url('font/bravorg.woff') format('woff'),
         url('font/bravorg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'bravorgregular';
  font-size: 19px;
}

.container {
  width: 600px;
  padding: 0 20px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.main-header {
  padding-top: 30px;
}

.indigo-logo, .indigo-link {
  text-align: center;
}

.indigo-logo img {
  width: 200px;
  height: 200px;
}

.indigo-link a {
  font-size: 33px;
  line-height: 33px;
  text-transform: uppercase;
  text-decoration: none;
  color: #070b37;
}

.indigo-link a:hover {
  color: #25437b;
}

.indigo-link a:active {
  opacity: 0.3;
}

.menu {
  list-style: none;
  border-bottom: 1px solid #070b37;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
}

.menu a {
  font-size: 20px;
  color: #070b37;
}

.menu a:hover {
  text-decoration: none;
  color: white;
	background: #25437b;
}

.input-parent {
  width: 100%;
  margin-bottom: 40px;
}

.search-block {
  float: left;
  font-size: 20px;
  line-height: 20px;
  color: #070b37;
}

.sort-block {
  float: right;
  font-size: 20px;
  line-height: 20px;
  color: #070b37;
}

.projects {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-preview {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 45px;
  border-bottom: 1px dotted #070b37;
}

.project-preview:last-child {
  border-bottom: none;
}

.content-left-column {
  float: left;
  width: 50%;
}

.content-right-column {
  float: right;
  width: 50%;
}

.project-title a {
  color: black;
  text-decoration: none;
}

.project-title a:hover {
  color: #25437b;
  text-decoration: underline;
}

.project {
  padding-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}

.project-photos {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  font-size: 0;
}

.project-photos li {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
}

.project-photos li:last-child {
  margin-right: 0px;
}

.contacts {
  width: 100%;
  margin-bottom: 100px;
}

.contacts-image {
  padding-top: 40px;
}

.main-footer {
  padding-bottom: 30px;
}

.footer-links {
  font-size: 0;
  vertical-align: top;
  border-top: 1px solid #070b37;
}

.footer-links a {
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;

  font-size: 20px;
  color: #070b37;
}

.footer-links a:hover {
  text-decoration: none;
  color: white;
	background: #25437b;
}
